/* Variables */

:root {
  --color-black: #000000;
  --color-gunmetal: #283136;
  --color-gainsboro: #DFDFDF;
  --color-light-grey: #D5D5D5;
  --color-charcoal: #444444;
  --color-dim-gray: #666666;
  --color-white-smoke: #EEEEEE;
  --color-gray: #DBDBDB;
  --color-white: #ffffff;

  --color-bittersweet: #FB565A;
  --color-cinnabar: #E74246;
  --color-persian-red: #D7373B;
  
  --color-caribbean-green: #00CA74;
  --color-jade: #00BC6C;
  --color-green: #00AA62;

  --color-cream-can: #EFC849;
  --color-bright-sun: #EAB534;
  --color-gold-tips: #E5A722;
}

/* Global */


body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-gunmetal);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/* Grid */


.container {
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto auto auto;
  align-content: start;
}

.main-header {
  grid-area: header;
  background-color: var(--color-white-smoke);
}

.main-navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}

.main {
  grid-area: main;
}

.main-footer {
  grid-area: footer;
}


.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
}

.partners-list {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.footer-content {
  display: grid;
  grid-template-columns: auto auto;

}

.wrapper-main-content {
  display: grid;
  grid-template-areas:
  "filters sort"
  "filters catalog"
  "filters pagination";
  grid-template-columns: 260px auto;
  grid-template-rows: auto auto;
  align-content: start;
  column-gap: 140px;
}

.filters {
  grid-area: filters;
 
}

.sort {
  grid-area: sort;
}

.catalog {
  grid-area: catalog;
}

.pagination-list {
  grid-area: pagination;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 41px;
  row-gap: 30px;
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.site-navigation {
  text-align: center;
}

.site-navigation,
.cart,
.slider-list,
.services-list,
.about-list,
.partners-list,
.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  margin-right: 45px;
}

.site-navigation-item:nth-last-child() {
  margin-right: 0;
}

.site-navigation-item-link,
.cart-link,
.site-navigation-item-link:visited,
.cart-link:visited {
  color: var(--color-black);
} 

.site-navigation-item-link:hover,
.cart-link:hover {
  color: var(--color-bittersweet);
}

.site-navigation-item-link:active,
.cart-link:active {
  color:rgba(0, 0, 0, 0.3);
}

.site-navigation-item-link.active {
  border-bottom: 2px solid var(--color-bittersweet);
  padding-bottom: 13px;
}

.site-cart {
  margin: 0;
}

.cart {
  text-align: right;
}

.page-catalog-title {
  text-align: center;
  background-color: var(--color-white-smoke);
  margin: 0;
  padding-top: 72px;
  padding-bottom: 108px;
}

/* Slider */

.slider {
  background-color: var(--color-white-smoke);
  margin-bottom: 80px;
}

.slider-item {
  min-height: 431px;
  padding-top: 78px;
  box-sizing: border-box;
}

.slider-item-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 25px;
}

.slider-item-description {
  margin-bottom: 38px;
}

/* Button */

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  display: inline-block;
}

/* Button Link */

.slider-item-link {
  background-color: var(--color-bittersweet);
  padding-left: 54px;
  padding-right: 54px;
}

.slider-item-link:hover {
  background-color: var(--color-cinnabar);
}

.slider-item-link:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);

}

.service-item-button-pink {
  background-color: var(--color-bittersweet);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-pink:hover {
  background-color: var(--color-cinnabar);
}

.service-item-button-pink:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-button-green {
  background-color: var(--color-caribbean-green);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-green:hover {
  background-color: var(--color-jade);
}

.service-item-button-green:active {
  background-color: var(--color-green);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-button-yellow {
  background-color: var(--color-cream-can);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-yellow:hover {
  background-color: var(--color-bright-sun);
}

.service-item-button-yellow:active {
  background-color: var(--color-gold-tips);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.filter-button {
  background-color: var(--color-white-smoke);
  color: var(--color-black);
  padding-left: 88px;
  padding-right: 88px;
}

.filter-button:hover {
  background-color: var(--color-gainsboro);
}

.filter-button:active {
  background-color: var(--color-light-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-next {
  padding-left: 78px;
  padding-right: 78px;
}

.pagination-item-link {
  padding-left: 20px;
  padding-right: 20px;
}

.button-catalog-price-popup {
  background-color: var(--color-bittersweet);
  padding-left: 72px;
  padding-right: 72px;
}

.button-catalog-price-popup:hover {
  background-color: var(--color-cinnabar);
}

.button-catalog-price-popup:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.contact-send {
  background-color: var(--color-bittersweet);
  padding-left: 44px;
  padding-right: 44px;
}

/* Services */

.services {
  border-bottom: 2px solid var(--color-white-smoke);
  margin-bottom: 40px;
}

.services-list {
  margin-bottom: 80px;
}

.service-item .button{
  display: inline-block;
}

.service-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
}

.service-item-description {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* About */

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--color-black);
  margin: 0;
}

.about-list-title {
  font-weight: 700;
  text-transform: uppercase;
}

.about-quality-table-title {
  text-transform: uppercase;
  font-weight: 700;
}

/* Partners */

.partners {
  height: 180px;
  border-bottom: 2px solid var(--color-white-smoke);
  border-top: 2px solid var(--color-white-smoke);
  margin-bottom: 80px;
}


/* Contacts */

.footer-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts-adress,
.footer-contacts-phone {
  color: var(--color-dim-gray);

}

.contacts-phone-link {
  color: inherit;
}

/* Main Catalog */

.page-catalog-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 62px;
}


/* Filters */

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


/* Sort */

.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.sort-list,
.sort-list-setting {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list-item-link,
.sort-list-item-link:visited {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-item-link:active,
.sort-list-item-link.active {
  color: var(--color-black);
}

/* Catalog */

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Catalog Popup*/

.catalog-item-popup {
  line-height: 18px;
  color: var(--color-dim-gray);
  background-color: var(--color-white-smoke);

}

.catalog-item-title-link-popup,
.catalog-item-title-link-popup:visited {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}


.catalog-item-title-link-popup:hover {
  color: var(--color-bittersweet);
}

.catalog-item-title-link-popup:active {
  color:rgba(0, 0, 0, 0.3);
}

/* Pagination */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
}

.pagination-item-link,
.pagination-item-next,
.pagination-item-link:visited,
.pagination-item-next:visited {
  color: var(--color-black);
  background-color: var(--color-white-smoke);
}

.pagination-item-link.active {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--color-gray);
}

.pagination-item-link:hover {
  background-color: var(--color-gainsboro);
}

.pagination-item-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-light-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}


/* Footer */

.footer-profit-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--color-black);
  margin: 0;
}

.footer-profit-discount {
  line-height: 22px;
  color: var(--color-charcoal);
}

/* Modal */

.modal-form-send {
  background-color: var(--color-bittersweet);
  padding-left: 83px;
  padding-right: 83px;
}