/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* Variables */

:root {
  --color-black: #000000;
  --color-gunmetal: #283136;
  --color-gainsboro: #DFDFDF;
  --color-light-grey: #D5D5D5;
  --color-charcoal: #444444;
  --color-tundora: #4D4D4D;
  --color-dim-gray: #666666;
  --color-casper: #B4B9BB;
  --color-white-smoke: #EEEEEE;
  --color-gray: #DBDBDB;
  --color-iron: #D7DCDE;
  --color-mercury: #E1E1E1;
  --color-seashell: #F1F1F1;
  --color-dark-gray: #ABABAB;

  --color-white: #ffffff;

  --color-bittersweet: #FB565A;
  --color-cinnabar: #E74246;
  --color-persian-red: #D7373B;
  
  --color-caribbean-green: #00CA74;
  --color-jade: #00BC6C;
  --color-green: #00AA62;

  --color-cream-can: #EFC849;
  --color-bright-sun: #EAB534;
  --color-gold-tips: #E5A722;

  --slider-shift: 1160px;
}

/* Global */


body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-gunmetal);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.cart,
.slider-list,
.services-list,
.about-list,
.partners-list,
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: var(--color-white-smoke);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px auto 120px;
  margin-top: 50px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}


.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
}

.about {
  display: grid;
  grid-template-areas:
  "about-text about-quality-img"
  "about-list-content about-quality";
  grid-template-columns: auto 362px;
  grid-template-rows: minmax(208px, -webkit-max-content) auto;
  grid-template-rows: minmax(208px, max-content) auto;
  align-content: start;
  grid-gap: 35px;
  margin-bottom: 49px;
}

.about-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-text;
}

.about-quality-img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: about-quality-img;
}

.about-list-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about-list-content;
}

.about-quality {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: about-quality;
}

.footer-content {
  display: grid;
  grid-template-columns: 260px auto;
  padding-top: 68px;
  padding-bottom: 68px;
}

.wrapper-main-content {
  display: grid;
  grid-template-areas:
  "filters sort"
  "filters catalog"
  "filters pagination";
  grid-template-columns: 260px auto;
  grid-template-rows: auto auto;
  align-content: start;
  -moz-column-gap: 140px;
       column-gap: 140px;
}

.filters {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: filters;
 
}

.sort {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sort;
  display: grid;
  grid-template-columns: 400px auto auto;
  margin-bottom: 48px;
}

.catalog {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: catalog;
}

.pagination-list {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: pagination;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  -moz-column-gap: 41px;
       column-gap: 41px;
  row-gap: 28px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 59px;
}

/* Flex */

.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 10px;
  padding-left: 7px;

}

.site-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 9px;
}

.slider-list {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.8s ease;
}

.slider-controls {
  position: absolute;
  display: flex;
  bottom: 95px;
  width: 88px;
  left: calc(50% - 44px);
  justify-content: center;
  z-index: 2;
}


.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 180px;

}

.partner-item-link {
  display: flex;
  justify-content: center;
}


.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-list-setting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.catalog-item-togglers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: 40px;
  padding-left: 13px;
  background-color: var(--color-tundora);
  opacity: 0.12;
}

.footer-map {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 77px;
  background: var(--color-mercury);
  border-radius: 50%;
}

.wrapper-send {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.site-navigation-item {
  display: inline-block;
  margin-right: 45px;
}

.site-navigation-item:nth-last-child() {
  margin-right: 0;
}


.site-navigation-item-link,
.cart-link,
.site-navigation-item-link:visited,
.cart-link:visited {
  color: var(--color-black);
} 

.site-navigation-item-link:hover,
.cart-link:hover {
  color: var(--color-bittersweet);
}

.site-navigation-item-link:active,
.cart-link:active {
  color:rgba(0, 0, 0, 0.3);
}

.site-navigation-item-link.active {
  border-bottom: 2px solid var(--color-bittersweet);
  padding-bottom: 18px;
}

.site-cart {
  margin: 0;
}

.cart {
  position: relative;
  padding-left: 40px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog-title {
  text-align: center;
  background-color: var(--color-white-smoke);
  margin: 0;
  padding-top: 68px;
  padding-bottom: 108px;
}

/* Slider */

.slider {
  background-color: var(--color-white-smoke);
  margin-bottom: 80px;
}

.slider-wrapper {
  position: relative;
}

.slider-inner {
  overflow: hidden;
}

.slider-item {
  flex-basis: 1160px;
  flex-shrink: 0;
  min-height: 421px;
  padding-top: 69px;
  box-sizing: border-box;
  background-color: inherit;
  background-position:  397px 100% ;
  background-repeat: no-repeat;
}

.slider-item-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 25px;
}

.slider-item-description {
  margin-bottom: 37px;
  line-height: 25px;
}


.slider-wrapper input[type="radio"] {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider-controls label:nth-child(2n) {
  margin: 0 17px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-image: url("../img/point.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#btn-1:checked ~ .slider-inner .slider-list {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-list {
  transform: translate(calc(var(--slider-shift) * 1 * -1));
}

#btn-3:checked ~ .slider-inner .slider-list {
  transform: translate(calc(var(--slider-shift) * 2 * -1));
}
 
.pic-1 {
  background-image: url("../img/slide-1.png");
}

.pic-2 {
  background-image: url("../img/slide-2.png");
}

.pic-3 {
  background-image: url("../img/slide-3.png");
}


/* Button */

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

/* Button Link */

.slider-item-link {
  background-color: var(--color-bittersweet);
  padding-left: 54px;
  padding-right: 54px;
}

.slider-item-link:hover {
  background-color: var(--color-cinnabar);
}

.slider-item-link:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);

}

.service-item-button-pink {
  background-color: var(--color-bittersweet);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-pink:hover {
  background-color: var(--color-cinnabar);
}

.service-item-button-pink:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-button-green {
  background-color: var(--color-caribbean-green);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-green:hover {
  background-color: var(--color-jade);
}

.service-item-button-green:active {
  background-color: var(--color-green);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.service-item-button-yellow {
  background-color: var(--color-cream-can);
  padding-left: 40px;
  padding-right: 40px;
}

.service-item-button-yellow:hover {
  background-color: var(--color-bright-sun);
}

.service-item-button-yellow:active {
  background-color: var(--color-gold-tips);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.filter-button {
  background-color: var(--color-white-smoke);
  color: var(--color-black);
  padding-left: 88px;
  padding-right: 88px;
}

.filter-button:hover {
  background-color: var(--color-gainsboro);
}

.filter-button:active {
  background-color: var(--color-light-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-next {
    padding: 17px 77px 15px 79px;
}

.pagination-item-link {
  padding-left: 20px;
  padding-right: 20px;
}

.button-catalog-price-popup {
  background-color: var(--color-bittersweet);
  padding-left: 72px;
  padding-right: 72px;
}

.button-catalog-price-popup:hover {
  background-color: var(--color-cinnabar);
}

.button-catalog-price-popup:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.contact-send {
  background-color: var(--color-bittersweet);
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 34px;
}
.contact-send:hover,
.button-modal-form-send:hover {
  background-color: var(--color-cinnabar);
}

.contact-send:active,
.button-modal-form-send:active {
  background-color: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

/* Services */

.services {
  border-bottom: 2px solid var(--color-white-smoke);
  margin-bottom: 40px;
}

.services-list {
  margin-bottom: 80px;
}

.service-item .button{
  display: inline-block;
}

.service-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 18px;
}

.service-item-description {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* About */

.about-title {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--color-black);
}

.about-description {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 25px;
}

.about-list-title {
  margin: 0 0 23px 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.about-list-item {
  position: relative;
  padding-bottom: 24px;
  padding-left: 36px;
}

.about-list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--color-bittersweet);
}

.about-quality-img {
  background-image: url("../img/nerds-illustration-1.png");
  background-repeat: no-repeat;
  background-position: 2px 0;
}


.about-quality-table-title {
  margin: 0 0 26px 4px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.about-quality-table {
  width: 100%;
}


.feature-percent {
  width: 30.33333%;
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}


.feature-percent sup {
  top: -15px;
  font-size: 26px;
  line-height: 40px;
}

.feature-text {
  line-height: 19px;
  padding-top: 8px;
  text-align: left;
}


/* Partners */

.partners {
  border-bottom: 2px solid var(--color-white-smoke);
  border-top: 2px solid var(--color-white-smoke);
  margin-bottom: 82px;
}

.partner-item {
  position: relative;
  width: 260px;
  box-sizing: border-box;
  padding-left: 2px;
  padding-top: 2px;
}

.partner-item.html-academy {
  padding-top: 14px;
}

.partner-item.mishka {
  padding-top: 5px;
}

.partner-item::after{
  content: "";
  position: absolute;
  top: 0;
  right: -21px;
  bottom: 0;
  width: 2px;
  height: 52px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--color-white-smoke);
}

.partner-item:last-child::after {
  width: 0;
  height: 0;
}

.partner-item-pic {
  display: block;
  opacity: 0.2;
}

.partner-item-pic:hover {
  opacity: 1;
}

.partner-item-pic:active {
  opacity: 0.1;
}

/* Contacts */

.footer-contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts-adress,
.footer-contacts-phone {
  color: var(--color-dim-gray);

}

.contacts-phone-link {
  color: inherit;
}

/* Main Catalog */

.page-catalog-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 55px;
}


/* Filters */

.filters {
  width: 260px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter legend {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 31px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 21px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Filter radio*/

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-radio:disabled + label:hover::before {
  opacity: 0.1;
}

/* Filter checkbox*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  width: 25px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

/* Filter range */

.range-filter {
  width: 260px;
  margin-top: 34px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--color-white-smoke);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--color-iron);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--color-caribbean-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--color-white);
  background-color: var(--color-dark-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--color-gunmetal);
  border: none;
  border-radius: 5px;
  background: var(--color-seashell);
  font-family: inherit;
  font-size: inherit;
}


/* Sort */

.sort-list,
.sort-list-setting {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}


.sort-list-setting-item:first-of-type {
  padding-right: 21px;
}

.sort-link,
.sort-link {
  width: 11px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}


.sort-list-setting-item:nth-child(1) .sort-link {
  background-image: url("../img/icon-down.svg");
}

.sort-list-setting-item:nth-child(2) .sort-link  {
  background-image: url("../img/icon-up.svg");
}

.sort-link:hover,
.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active,
.sort-link.active {
  opacity: 1;
}


.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 2px;
}

.sort-list-item:first-child {
  padding-left: 0;
}


.sort-list-item-link,
.sort-list-item-link:visited {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list-item-link:active,
.sort-list-item-link.active {
  color: var(--color-black);
}


/* Catalog Popup*/

.catalog-item-popup {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 45px;
  padding-left: 52px;
  padding-right: 52px;
  line-height: 18px;
  color: var(--color-dim-gray);
  background-color: var(--color-white-smoke);
  display: none;
}

.toggler-item {
  background-color: var(--color-white);
  height: 14px;
  width: 14px;
  margin-right: 10px;
  border-radius: 50%;
}
.toggler-item:last-child {
  margin-right: 0;
}

.catalog-item {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 618px;
  width: 358px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .catalog-item-popup{
  display: block;
}

.catalog-item:hover .catalog-item-togglers{
  opacity: 1;
}

.catalog-item-content-header {
  height: 40px;
  background-color: var(--color-tundora);
}

.catalog-item-title,
.catalog-item-description-popup {
  margin: 0;
  padding: 0;
}

.catalog-item-title {
  font-size: 18px;
  margin-bottom: 12px;
}

.catalog-item-title-link-popup,
.catalog-item-title-link-popup:visited {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 12px;
}


.catalog-item-title-link-popup:hover {
  color: var(--color-bittersweet);
}

.catalog-item-title-link-popup:active {
  color:rgba(0, 0, 0, 0.3);
}

.catalog-item-description-popup {
  margin-bottom: 32px;
}

/* Pagination */


.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-link,
.pagination-item-next,
.pagination-item-link:visited,
.pagination-item-next:visited {
  color: var(--color-black);
  background-color: var(--color-white-smoke);
}

.pagination-item-link.active {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--color-gray);
  padding-top: 14px;
  padding-left: 17px;
  padding-right: 19px;
  padding-bottom: 12px;
}

.pagination-item-link:not(.active):hover,
.pagination-item-next:hover {
  background-color: var(--color-gainsboro);
}

.pagination-item-link:not(.active):active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--color-light-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-link.active:active {
  box-shadow: none;
}

/* Footer */

/* Footer Map */

.wrapper-footer-contacts {
  position: absolute;
  z-index: 3;
  left: calc(50% - 580px);
}

.map-pic {
  position: absolute;
  z-index: 1;
  height: 416px;
}

.footer-map iframe {
  z-index: 3;
}

.pin {
  background-image: url("../img/map-marker.png");
  background-position:  0% 100%;
  background-repeat: no-repeat;
  width: 231px;
  height: 190px;
  position: absolute;
  top: 9px;
  left: 50%;
  z-index: 2;
}


/* Footer Contacts */

.footer-contacts {
  width: 319px;
  height: 308px;
  box-sizing: border-box;
  padding: 47px 50px 47px 50px;
  background-color: var(--color-white);
}

.footer-contacts-title,
.footer-contacts-adress,
.footer-contacts-phone {
  margin: 0;
  padding: 0;
}

.footer-contacts-title {
  margin-bottom: 23px;
}

.footer-contacts-adress {
  line-height: 18px;
  margin-bottom: 15px;
}

/* Footer Social Buttons */

.social-button:hover {
  background: var(--color-cinnabar);
}

.social-button:active {
  background: var(--color-persian-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3)
}

/* Footer Profit */

.footer-profit {
  margin-top: 5px;
  padding-left: 140px;
}

.footer-profit-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--color-black);
  margin: 0;
}

.footer-profit-discount {
  line-height: 22px;
  color: var(--color-charcoal);
  margin: 0;
  margin-top: 10px;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--color-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

}

.modal-send {
  display: none;
  top: 120px;
  bottom: auto;
  width: 760px;
  background-color: var(--color-white);
  padding-top: 64px;
  padding-bottom: 84px;
  padding-right: 100px;
  padding-left: 100px;
  font: inherit;
  line-height: 18px;
  z-index: 4;
}

.modal-send h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 55px;
}


.button-modal-form-send {
  background-color: var(--color-bittersweet);
  padding-left: 83px;
  padding-right: 83px;
}


.send-item,
.send-message {
  font-weight: 700;

}

.send-message {
  margin-top: 19px;
  margin-bottom: 42px;
}


.send-item {
  width: 360px;
}

.send-item label,
.send-message label {
  display: block;
  margin-bottom: 10px;
}

.send-item input {
  width: 360px;
  padding: 14px 14px 12px 16px;
  font-weight: 400;
  border: 2px solid var(--color-iron);
  border-radius: 3px;
  box-sizing: border-box;
}

.send-message textarea {
  width: 100%;
  min-height: 118px;
  padding-top: 14px;
  padding-left: 15px;
  border: 2px solid var(--color-iron);
  border-radius: 3px;
  box-sizing: border-box;
}

.send-item input:hover,
.send-message textarea:hover {
  border-color: var(--color-casper);
}

.send-item input:focus,
.send-message textarea:focus {
  border-color: var(--color-black);
}

.send-form .notValid {
  border-color: var(--color-cinnabar);
}

.modal-form-send {
  margin-top: 47px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
